<div class="tab biography" data-group="primary" data-tab="biography">

    {{!-- Characteristics --}}
    <div class="top">
        <ul class="unlist characteristics">
            {{#each characteristics}}
            <li>
                <label>
                    <span class="roboto-upper label">{{ localize label }}</span>
                    {{#if @root.editable}}
                    <input type="text" name="{{ name }}" value="{{ value }}">
                    {{else}}
                    <span class="value">{{ value }}</span>
                    {{/if}}
                </label>
            </li>
            {{/each}}
        </ul>
    </div>

    {{!-- Ideals, Bonds, Flaws, Personality Traits, & Appearance --}}
    <div class="middle">
        <div class="left">
            {{~> "resurgirdragon.biography-textbox" name="system.details.ideal" value=system.details.ideal label="RESURGIRDRAGON.Ideals"
                icon="fas fa-seedling" class="textbox-half" ~}}
            {{~> "resurgirdragon.biography-textbox" name="system.details.bond" value=system.details.bond label="RESURGIRDRAGON.Bonds"
                icon="fas fa-link" class="textbox-half" ~}}
            {{~> "resurgirdragon.biography-textbox" name="system.details.flaw" value=system.details.flaw label="RESURGIRDRAGON.Flaws"
                icon="fas fa-heart-crack" class="textbox-half" ~}}
        </div>
        <div class="right">
            {{~> "resurgirdragon.biography-textbox" name="system.details.trait" value=system.details.trait
                label="RESURGIRDRAGON.PersonalityTraits" icon="fas fa-puzzle-piece" class="textbox-half" ~}}
            {{~> "resurgirdragon.biography-textbox" name="system.details.appearance" value=system.details.appearance
                label="RESURGIRDRAGON.Appearance" icon="fas fa-image-portrait" class="textbox-half" ~}}
        </div>
    </div>

    {{!-- Biography --}}
    <div class="bottom">
        <h3 class="icon">
            <i class="fas fa-feather"></i>
            <resurgirdragon-icon src="systems/resurgirdragon/icons/svg/ink-pot.svg"></resurgirdragon-icon>
            <span class="roboto-upper">{{ localize "RESURGIRDRAGON.Biography" }}</span>
        </h3>
        {{ editor biographyHTML target="system.details.biography.value" button=false editable=@root.editable
                  engine="prosemirror" collaborate=false }}
    </div>

</div>
