<fieldset>
    <legend>{{ localize "RESURGIRDRAGON.SpellDetails" }}</legend>

    {{!-- Spell Level --}}
    {{ formField fields.level value=source.level choices=config.spellLevels localize=true }}

    {{!-- Spell School --}}
    {{ formField fields.school value=source.school choices=config.spellSchools labelAttr="label" blank=""
                 localize=true }}

    {{!-- Spell Components --}}
    {{ formField fields.properties options=properties.options label="RESURGIRDRAGON.SpellComponents" localize=true
                 input=inputs.createMultiCheckboxInput stacked=true classes="checkbox-grid checkbox-grid-3" }}

    {{!-- Material Components --}}
    {{#if properties.object.material}}
    <div class="form-group split-group">
        <label>{{ localize "RESURGIRDRAGON.SpellMaterials" }}</label>
        <div class="form-fields">

            {{!-- Material Supply --}}
            {{ formField fields.materials.fields.supply value=source.materials.supply label="RESURGIRDRAGON.Supply" localize=true
                         classes="label-top" placeholder="0" }}

            {{!-- Material Cost --}}
            <div class="form-group label-top">
                <label class="label-icon currency gp" aria-label="{{ localize "RESURGIRDRAGON.CostGP" }}">
                    {{ localize "RESURGIRDRAGON.Cost" }}
                </label>
                <div class="form-fields">
                    {{ formInput fields.materials.fields.cost value=source.materials.cost placeholder="—" }}
                </div>
            </div>

            {{!-- Material Consumption --}}
            {{ formField fields.materials.fields.consumed value=source.materials.consumed label="RESURGIRDRAGON.Consumed"
                         localize=true input=inputs.createCheckboxInput classes="checkbox" }}
        </div>

        {{!-- Materials Description --}}
        {{ formInput fields.materials.fields.value value=source.materials.value input=inputs.createTextInput
                     classes="full-width" }}
    </div>
    {{/if}}

    {{!-- Preparation Mode --}}
    <div class="form-group">
        <label>{{ localize "RESURGIRDRAGON.SpellPreparation.Mode" }}</label>
        <div class="form-fields">

            {{!-- Prepared --}}
            {{#if (eq source.preparation.mode "prepared")}}
            {{ formInput fields.preparation.fields.prepared value=source.preparation.prepared
                         dataset=(resurgirdragon-object tooltip="RESURGIRDRAGON.Prepared") input=inputs.createCheckboxInput
                         ariaLabel=(localize "RESURGIRDRAGON.Prepared") }}
            {{/if}}

            {{!-- Mode --}}
            {{ formInput fields.preparation.fields.mode value=source.preparation.mode
                         choices=config.spellPreparationModes labelAttr="label" }}
        </div>
    </div>

    {{!-- Source Class --}}
    {{#if isEmbedded}}
    {{ formField fields.sourceClass value=source.sourceClass localize=true choices=item.parent.spellcastingClasses
                 labelAttr="name" blank="" }}

    {{ formField fields.ability value=source.ability localize=true choices=config.abilities
                 labelAttr="label" blank=defaultAbility }}
    {{/if}}
</fieldset>

<fieldset>
    <legend>{{ localize "RESURGIRDRAGON.Casting" }}</legend>

    {{!-- Activation --}}
    {{> "resurgirdragon.field-activation" activation=system.activation fields=fields.activation.fields data=source.activation
        activationTypes=activationTypes inputs=inputs label="RESURGIRDRAGON.SpellCastTime" }}

    {{!-- Range --}}
    {{> "resurgirdragon.field-range" range=system.range fields=fields.range.fields data=source.range rangeTypes=rangeTypes
        inputs=inputs }}

    {{!-- Duration --}}
    {{> "resurgirdragon.field-duration" duration=system.duration fields=fields.duration.fields data=source.duration
        durationUnits=durationUnits inputs=inputs }}
</fieldset>

{{> "resurgirdragon.field-targets" target=system.target fields=fields.target.fields data=source.target inputs=inputs
    disabled=false }}
