<div class="resurgirdragon2 chat-card order-card">

    {{!-- Description --}}
    <p class="order-description">{{{ description }}}</p>

    {{!-- Supplements --}}
    {{#each supplements}}
    <p class="supplement">{{{ this }}}</p>
    {{/each}}

    {{!-- Buttons --}}
    {{#if buttons}}
    <div class="card-buttons">
        {{#each buttons}}
        <button type="button" {{ resurgirdragon-dataset dataset }}>
            {{{ icon }}} <span>{{{ label }}}</span>
        </button>
        {{/each}}
    </div>
    {{/if}}
</div>
