<form autocomplete="off">
    <header>{{ localize "RESURGIRDRAGON.CurrencyManager.Title" }}</header>
    <nav data-group="primary">
        <a data-tab="convert">{{localize "RESURGIRDRAGON.CurrencyManager.Convert.Label"}}</a>
        <a data-tab="transfer">{{localize "RESURGIRDRAGON.CurrencyManager.Transfer.Label"}}</a>
    </nav>

    <div class="sheet-content">
        <section class="tab" data-group="primary" data-tab="convert">
            <p>{{localize "RESURGIRDRAGON.CurrencyManager.Convert.Hint"}}</p>
            <button type="submit" name="convert">
                <i class="fa-solid fa-arrow-up-short-wide"></i>
                {{localize "RESURGIRDRAGON.CurrencyManager.Convert.Action"}}
            </button>
        </section>

        <section class="tab" data-group="primary" data-tab="transfer">
            <section class="currency">
                <button type="button" name="setAll">{{localize "RESURGIRDRAGON.CurrencyManager.Transfer.All"}}</button>
                <button type="button" name="setHalf">{{localize "RESURGIRDRAGON.CurrencyManager.Transfer.Half"}}</button>
                {{#each currency}}
                <label>
                    {{#with (lookup @root.CONFIG.currencies @key) as |currency|}}
                    <i class="currency {{ @key }}" data-tooltip="{{ lookup currency 'label' }}"
                       aria-label="{{ lookup currency 'label' }}"></i>
                    {{/with}}
                    {{numberInput null name=(concat "amount." @key) step=1}}
                </label>
                {{/each}}
            </section>
            <div class="destinations">
                {{#each destinations}}
                <label>
                    <input type="checkbox" name="destination.{{doc.id}}">
                    {{{icon}}} {{doc.name}}
                </label>
                {{else}}
                <p class="no-destinations">{{localize "RESURGIRDRAGON.Award.NoDestinations"}}</p>
                {{/each}}
            </div>
            <button type="submit" name="transfer" disabled>
                <i class="fa-solid fa-reply-all fa-flip-horizontal"></i>
                {{localize "RESURGIRDRAGON.CurrencyManager.Transfer.Action"}}
            </button>
        </section>
    </div>
</form>
